In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008
952,tt0220506,13000000,37664855,Halloween: Resurrection,Jamie Lee Curtis|Brad Loree|Busta Rhymes|Bianc...,Rick Rosenthal,Evil finds its way home,Serial Killer Michael Myers is not finished wi...,94,Horror|Thriller,Dimension Films,7/1/2002,4.6,2002
1646,tt0362270,50000000,34808403,The Life Aquatic with Steve Zissou,Bill Murray|Anjelica Huston|Cate Blanchett|Wil...,Wes Anderson,"The deeper you go, the weirder life gets.",Wes Andersonâ€™s incisive quirky comedy build ...,119,Adventure|Comedy|Drama,Touchstone Pictures,12/10/2004,7.0,2004
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013
1168,tt0337909,10000000,96542059,Calendar Girls,Helen Mirren|Julie Walters|John Alderton|Linda...,Nigel Cole,Some ladies will do anything for a good cause.,2003 fact-based comedy with Helen Mirren and J...,108,Comedy,Harbour Pictures|Touchstone Pictures,9/2/2003,6.5,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

In [5]:
# creating a working dataset
df = data.copy()

# сокращаем наименования столбцов
colum = ['id', 'budget', 'revenue', 'title', 'cast',
       'director', 'tagline', 'view', 'runtime', 'genres',
       'prod_comp', 'rel_date', 'vote_aver', 'rel_year']
df.columns = colum

# тут другие ваши предобработки колонок например:
# разделяем текст в столбце на несколько строк (пользовательская функция)
# в DataFrame и получаем новый DataFrame
def explode_df(df, column, sep='|', keep=False):
    indexes = list()
    new_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = df.iloc[indexes, :].copy()
    new_df[column] = new_values
    return new_df

# получим столбец со значениями прибыльности фильма
profit = df['revenue'] - df['budget']
df.insert(3, 'profit', profit)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
df['rel_date'] = pd.to_datetime(df['rel_date'])

# в рабочий DataFrame добавляем колонку с названиями месяцев на русском языке
month = df['rel_date'].dt.month_name(locale = 'Russian')
df.insert(12, 'month', month)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'

# Ответ на 1-й вопрос:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# решение вопроса № 1:

ans1 = df[df['budget'] == df['budget'].max()][['title', 'id']].values
print(f'Фильм с самым большим бюджетом: \033[1m\033[30m{ans1[0][0]} ({ans1[0][1]})')

Фильм с самым большим бюджетом: Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [8]:
# еще вариант решения вопроса № 1

ans1_1 = df.sort_values('budget', ascending=False)[['title', 'id']].iloc[0]
print(f'Фильм с самым большим бюджетом: \033[1m\033[30m{ans1_1[0]} ({ans1_1[1]})')

Фильм с самым большим бюджетом: Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [9]:
# еще вариант решения вопроса № 1

ans1_2 = list(max(df.groupby(['budget'])['title'])[1])
print(f'Фильм с самым большим бюджетом: \033[1m\033[30m{ans1_2[0]}')

Фильм с самым большим бюджетом: Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# Ответ на 2-й вопрос:

answers['2'] = '2. Gods and Generals (tt0279111)' # "+"

In [11]:
# решение вопроса № 2:

df[df['runtime'] == df['runtime'].max()][['title', 'id']]

                  title         id
1157  Gods and Generals  tt0279111

In [12]:
ans2 = df[df['runtime'] == df['runtime'].max()][['title', 'id']].values
print(f'Самый длительный фильм: \033[1m\033[30m{ans2[0][0]} ({ans2[0][1]})')

Самый длительный фильм: Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
# Ответ на 3-й вопрос:

answers['3'] = '3. Winnie the Pooh (tt1449283)' # "+"

In [14]:
# решение вопроса № 3:

df[df['runtime'] == df['runtime'].min()][['title', 'id']]

               title         id
768  Winnie the Pooh  tt1449283

In [15]:
ans3 = df[df['runtime'] == df['runtime'].min()][['title', 'id']].values
print(f'Самый короткий фильм: \033[1m\033[30m{ans3[0][0]} ({ans3[0][1]})')

Самый короткий фильм: Winnie the Pooh (tt1449283)

In [16]:
# еще решение вопроса № 3:

ans3_1 = df.sort_values('runtime')['title'].iloc[0]
print(f'Самый короткий фильм: \033[1m\033[30m{ans3_1}')

Самый короткий фильм: Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [17]:
# Ответ на 4-й вопрос:

answers['4'] = '2. 110' # "+"

In [19]:
# решение вопроса № 4:

ans4 = round(df['runtime'].mean())
print(f'Средняя длительность фильмов: \033[1m\033[30m{ans4}')

Средняя длительность фильмов: 110

# 5. Каково медианное значение длительности фильмов?

In [20]:
# Ответ на 5-й вопрос:

answers['5'] = '1. 107' # "+"

In [21]:
# решение вопроса № 5:

ans5 = round(df['runtime'].median())
print(f'Медианное значение длительности фильмов: \033[1m\033[30m{ans5}')

Медианное значение длительности фильмов: 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [22]:
# Ответ на 6-й вопрос:

answers['6'] = '5. Avatar (tt0499549)' # "+"

In [23]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# решение вопроса № 6:

df[df['profit'] == df['profit'].max()][['title', 'id', 'profit']]

      title         id      profit
239  Avatar  tt0499549  2544505847

In [24]:
ans6 = df[df['profit'] == df['profit'].max()][['title', 'id', 'profit']].values
print(f'Самый прибыльный фильм: \033[1m\033[30m{ans6[0][0]} ({ans6[0][1]})')

Самый прибыльный фильм: Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [25]:
# Ответ на 7-й вопрос:

answers['7'] = '5. The Lone Ranger (tt1210819)' # "+"

In [26]:
# решение вопроса № 7:

df[df['profit'] == df['profit'].min()][['title', 'id', 'profit']]

                title         id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [27]:
ans7 = df[df['profit'] == df['profit'].min()][['title', 'id', 'profit']].values
print(f'Самый убыточный фильм: \033[1m\033[30m{ans7[0][0]} ({ans7[0][1]})')

Самый убыточный фильм: The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [28]:
# Ответ на 8-й вопрос:

answers['8'] = '1. 1478' # "+"

In [29]:
# решение вопроса № 8:

ans8 = df[df['revenue'] > df['budget']]['title'].count()
print(f'У \033[1m\033[30m{ans8} \033[0mфильмов объем сборов оказался выше бюджета')

У 1478 фильмов объем сборов оказался выше бюджета

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [30]:
# Ответ на 9-й вопрос:

answers['9'] = '4. The Dark Knight (tt0468569)' # "+"

In [31]:
# решение вопроса № 9:

df9 = df[df['rel_year'] == 2008] # отбираем только 2008 год
df9[df9['revenue'] == df9['revenue'].max()][['title', 'id']]

               title         id
599  The Dark Knight  tt0468569

In [32]:
ans9 = df9[df9['revenue'] == df9['revenue'].max()][['title', 'id']].values
print(f'Фильм \033[1m\033[30m{ans9[0][0]} ({ans9[0][1]}) \033[0m \
оказался самым кассовым в 2008 году')

Фильм The Dark Knight (tt0468569)  оказался самым кассовым в 2008 году

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [33]:
# Ответ на 10-й вопрос:

answers['10'] = '5. The Lone Ranger (tt1210819)' # "+"

In [34]:
# решение вопроса № 10:

df10 = df.query('rel_year in [2012, 2013, 2014]') # отбираем только года с 2012 по 2014 включительно
df10[df10['profit'] == df10['profit'].min()][['title', 'id', 'profit']]

                title         id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [35]:
ans10 = df10[df10['profit'] == df10['profit'].min()][['title', 'id', 'profit']].values
print(f'Фильм \033[1m\033[30m{ans10[0][0]} ({ans10[0][1]}) \033[0m оказался самым \
убыточным за период с 2012 по 2014 г. (включительно)')

Фильм The Lone Ranger (tt1210819)  оказался самым убыточным за период с 2012 по 2014 г. (включительно)

# 11. Какого жанра фильмов больше всего?

In [36]:
# Ответ на 11-й вопрос:

answers['11'] = '3. Drama' # "+"

In [37]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# решение вопроса № 11:

df['genres'].str.split('|').explode().value_counts().index[0]

'Drama'

In [38]:
ans11 = df['genres'].str.split('|').explode().value_counts().index[0]
print(f'Фильмов с жанром \033[1m\033[30m{ans11} \033[0mбольше всего')

Фильмов с жанром Drama больше всего

ВАРИАНТ 2

In [39]:
# еще решение вопроса № 11:
df11 = df.copy()
# разделяем текст в столбце жанров на несколько строк (пользовательская функция)
# explode_df
df11_ = explode_df(df11, 'genres')
df11_['genres'].value_counts().index[0]

'Drama'

In [40]:
ans11_2 = df11_['genres'].value_counts().index[0]
print(f'Фильмов с жанром \033[1m\033[30m{ans11_2} \033[0mбольше всего')

Фильмов с жанром Drama больше всего

In [41]:
# еще решение вопроса № 11:

ans11_3 = Counter(df11_['genres']).most_common(1)
print(f'Фильмов с жанром \033[1m\033[30m{ans11_3[0][0]} \033[0mбольше всего')

Фильмов с жанром Drama больше всего

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [42]:
# Ответ на 12-й вопрос:

answers['12'] = '1. Drama' # "+"

In [43]:
# решение вопроса № 12:
# выделяем только прибыльные фильмы
df12 = df[df['profit'] > 0][['genres']]

# разделяем текст в столбце жанров на несколько строк (пользовательская функция)
df12 = explode_df(df12, 'genres')

# определим самый прибыльный жанр фильма 
df12['genres'].value_counts().index[0]

'Drama'

In [44]:
ans12 = df12['genres'].value_counts().index[0]
print(f'Фильмы жанра \033[1m\033[30m{ans12}\033[0m чаще всего становятся прибыльными')

Фильмы жанра Drama чаще всего становятся прибыльными

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [45]:
# Ответ на 13-й вопрос:

answers['13'] = '5. Peter Jackson' # "+"

In [46]:
# решение вопроса № 13:
# создаем DataFrame с данными по режиссерам
df_dir = df.iloc[:,2:12:2].copy()

# разделяем текст в столбце режиссеров на несколько строк (пользовательская функция)
df13 = explode_df(df_dir, 'director')

# группируя по режиссерам, суммируем кассовые сборы и находим режиссера
# с наибольшими кассовыми сборами
df13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

In [47]:
ans13 = df13.groupby(['director'])['revenue'].sum().\
                    sort_values(ascending=False).index[0]
print(f'\033[1m\033[30m{ans13} \033[0m - это режиссер, у которого самые \
большие кассовые сборы')

Peter Jackson  - это режиссер, у которого самые большие кассовые сборы

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [48]:
# Ответ на 14-й вопрос:

answers['14'] = '3. Robert Rodriguez' # "+"

In [49]:
# решение вопроса № 14:
# берем DataFrame с данными по режиссерам на предыдущем шаге - df13

# разделяем текст в столбце жанров на несколько строк (пользовательская функция)
df14 = explode_df(df13, 'genres')

# определяем режиссера, снявшего больше всего фильмов в жанре Action
df14[df14['genres'] == 'Action']['director'].value_counts().index[0]

'Robert Rodriguez'

In [50]:
ans14 = df14[df14['genres'] == 'Action']['director'].value_counts().index[0]
print(f'Режиссер \033[1m\033[30m{ans14}\033[0m снял больше всего фильмов в стиле Action')

Режиссер Robert Rodriguez снял больше всего фильмов в стиле Action

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [51]:
# Ответ на 15-й вопрос:

answers['15'] = '3. Chris Hemsworth' # "+"

In [52]:
# решение вопроса № 15:
# создаем DataFrame с данными по актерам
df_act = df.iloc[:,1:6].copy()
df_act['genres'] = df['genres']
df_act['rel_year'] = df['rel_year']

# разделяем текст в столбце актеров на несколько строк (пользовательская функция)
df15 = explode_df(df_act, 'cast')

# выделяем фильмы, вышедшие в прокат в 2012
df15 = df15[df15['rel_year'] == 2012]

# группируя по актерам, суммируем кассовые сборы и находим актера,
# фильмы c которым были с наибольшими кассовыми сборами
df15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

In [53]:
ans15 = df15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]
print(f'Фильмы с актером \033[1m\033[30m{ans15}\033[0m принесли самые высокие кассовые \
сборы в 2012 году')

Фильмы с актером Chris Hemsworth принесли самые высокие кассовые сборы в 2012 году

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [54]:
# Ответ на 16-й вопрос:

answers['16'] = '3. Matt Damon' # "+"

In [55]:
# решение вопроса № 16:
# берем DataFrame с данными по актерам на предыдущем шаге - df_act

# разделяем текст в столбце актеров на несколько строк (пользовательская функция)
df16 = explode_df(df_act, 'cast')

df16[df16['budget'] > df16['budget'].mean()]['cast'].value_counts().index[0]

'Matt Damon'

In [56]:
ans16 = df16[df16['budget'] > df16['budget'].mean()]['cast'].value_counts().index[0]
print(f'Актер \033[1m\033[30m{ans16}\033[0m снялся в большем количестве высокобюджетных \
фильмов')

Актер Matt Damon снялся в большем количестве высокобюджетных фильмов

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [57]:
# Ответ на 17-й вопрос:

answers['17'] = '2. Action' # "+"

In [58]:
# решение вопроса № 17:
# берем DataFrame с данными по актерам на предыдущем шаге - df16

# разделяем текст в столбце жанров на несколько строк (пользовательская функция)
df17 = explode_df(df16, 'genres')

df17[df17['cast'] == 'Nicolas Cage']['genres'].value_counts().index[0]

'Action'

In [59]:
ans17 = df17[df17['cast'] == 'Nicolas Cage']['genres'].value_counts().index[0]
print(f'В фильмах жанра \033[1m\033[30m{ans17}\033[0m больше всего снимался Nicolas Cage')

В фильмах жанра Action больше всего снимался Nicolas Cage

# 18. Самый убыточный фильм от Paramount Pictures

In [60]:
# Ответ на 18-й вопрос:

answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # "+"

In [61]:
# решение вопроса № 18:
# создаем DataFrame с данными по киностудиям
df_comp = df.iloc[:,:12].copy()
df_comp['rel_year'] = df['rel_year']

# разделяем текст в столбце киностудий на несколько строк (пользовательская функция)
df18 = explode_df(df_comp, 'prod_comp')

# из компаний оставляем только Paramount Pictures
df18_ = df18[df18['prod_comp'] == 'Paramount Pictures']

# выбираем самый убыточный фильм
df18_[df18_['profit'] == df18_['profit'].min()][['title', 'id']]

                    title         id
925  K-19: The Widowmaker  tt0267626

In [62]:
ans18 = df18_[df18_['profit'] == df18_['profit'].min()][['title', 'id']].values
print(f'Фильм \033[1m\033[30m{ans18[0][0]} ({ans18[0][1]}) \033[0m оказался самым \
убыточным фильмом Paramount Pictures')

Фильм K-19: The Widowmaker (tt0267626)  оказался самым убыточным фильмом Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [63]:
# Ответ на 19-й вопрос:

answers['19'] = '5. 2015' # "+"

In [64]:
# решение вопроса № 19:

ans19 = df.groupby('rel_year')['revenue'].sum().sort_values(ascending=False).index[0]
print(f'\033[1m\033[30m{ans19} \033[0mстал самым успешным по суммарным кассовым сборам')

2015 стал самым успешным по суммарным кассовым сборам

# 20. Какой самый прибыльный год для студии Warner Bros?

In [65]:
# Ответ на 20-й вопрос:

answers['20'] = '1. 2014' # "+"

In [66]:
# решение вопроса № 20:

# берем DataFrame с данными по студиями на вопросе № 18 - df18
# ищем вхождение Warner Bros,группируем по году выхода, суммируем кассовые сборы по годам,
# находим самый прибыльный год
ans20 = df18[df18.prod_comp.str.contains('Warner Bros')].groupby('rel_year')\
                    ['revenue'].sum().sort_values(ascending=False).index[0]
print(f'\033[1m\033[30m{ans20} \033[0mсамый прибыльный год для студии Warner Bros')

2014 самый прибыльный год для студии Warner Bros

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [67]:
# Ответ на 21-й вопрос:

answers['21'] = '4. Сентябрь' # "+"

In [68]:
# решение вопроса № 21:

# группируем данные по месяцам, просчитывая количество вышедших в прокат фильмов
ans21 = df.groupby(['month'])['title'].count().sort_values(ascending=False).index[0]
print(f'В *\033[1m\033[30mс{ans21[1:-1]}е* \033[0mза все годы суммарно вышло больше всего фильмов')

В *сентябре* за все годы суммарно вышло больше всего фильмов

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [69]:
# Ответ на 22-й вопрос:

answers['22'] = '2. 450' # "+"

In [70]:
# решение вопроса № 22:

ans22 = df.query('month in ["Июнь", "Июль", "Август"]')['title'].count()
print(f'Летом (за июнь, июль, август) суммарно вышло \033[1m\033[30m{ans22} \033[0mфильмов')

Летом (за июнь, июль, август) суммарно вышло 450 фильмов

# 23. Для какого режиссера зима – самое продуктивное время года?

In [71]:
# Ответ на 23-й вопрос:

answers['23'] = '5. Peter Jackson' # "+"

In [72]:
# решение вопроса № 23:
# 1-й вариант
df23 = df.copy()

# разделяем текст в столбце режиссеров на несколько строк (пользовательская функция)
df23_ = explode_df(df23, 'director')

# группируем по режиссерам и месяцам с подсчетом кол-ва фильмов
df_col = df23_.groupby(['director', 'month'])['title'].count().unstack()\
                .drop(['Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', \
                       'Сентябрь', 'Октябрь', 'Ноябрь'], axis=1)     

# добавляем новый столбец, содержащий cумму фильмов за 3 зимних месяца
df_col['winter'] = df_col[['Декабрь','Январь','Февраль']].sum(axis=1)
df_col[df_col['winter'] == df_col['winter'].max()]

month          Декабрь  Февраль  Январь  winter
director
Peter Jackson      7.0      NaN     NaN     7.0

In [73]:
ans23 = df_col[df_col['winter'] == df_col['winter'].max()].index
print(f'Для \033[1m\033[30m{ans23[0]} \033[0mзима – самое продуктивное время года')

Для Peter Jackson зима – самое продуктивное время года

In [75]:
# решение вопроса № 23:
# 2-й вариант
df_23 = df.copy()

# разделяем текст в столбце режиссеров на несколько строк (пользовательская функция)
df23_2 = explode_df(df_23, 'director')

# в новом DataFrame отбираем зимние месяцы, группируем по режиссерам и подсчитываем значения
df_= df23_2[df23_2['rel_date'].dt.month.isin([1, 2, 12,])]
df_col2 = df_.groupby(['director']).count()

# определяем режиссера с максимальным количеством вышедших фильмов
df_col2[df_col2['title'] == df_col2['title'].max()].index[0]

'Peter Jackson'

In [76]:
ans23_2 = df_col2[df_col2['title'] == df_col2['title'].max()].index[0]
print(f'Для \033[1m\033[30m{ans23_2} \033[0mзима – самое продуктивное время года')

Для Peter Jackson зима – самое продуктивное время года

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [77]:
# Ответ на 24-й вопрос:

answers['24'] = '5. Four By Two Productions' # "+"

In [78]:
# решение вопроса № 24:

# создаем DataFrame с данными по киностудиям
df24 = df[['prod_comp', 'title', 'view']].copy()

# разделяем текст в столбце киностудий на несколько строк (пользовательская функция)
df24 = explode_df(df24, 'prod_comp')

# добавляем столбец с длиной названия фильма
df24['title_len'] = df24['title'].apply(lambda title:len(title))

#находим студию, которая дает фильмам длинные названия
df24.groupby(['prod_comp'])['title_len'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

In [79]:
ans24 = df24.groupby(['prod_comp'])['title_len'].mean().sort_values(ascending=False)\
                                                                            .index[0]
print(f'Студия \033[1m\033[30m{ans24} \033[0mдает самые длинные названия своим \
фильмам по количеству символов')

Студия Four By Two Productions дает самые длинные названия своим фильмам по количеству символов

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [80]:
# Ответ на 25-й вопрос:

answers['25'] = '3. Midnight Picture Show' # "+"

In [81]:
# решение вопроса № 25:

# берем DataFrame с предыдущего вопроса df24
# добавляем столбец с длиной описания фильма, ислючая пробелы
df24['view_len'] = df24['view'].apply(lambda view:len(view.split(' ')))

#находим студию, у которой самые длинные описания фильмов
df24.groupby(['prod_comp'])['view_len'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

In [82]:
ans25 = df24.groupby(['prod_comp'])['view_len'].mean().sort_values(ascending=False)\
                                                                           .index[0]
print(f'У студии \033[1m\033[30m{ans25} \033[0mописание фильмов в среднем самые \
длинные по количеству слов')

У студии Midnight Picture Show описание фильмов в среднем самые длинные по количеству слов

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [83]:
# Ответ на 26-й вопрос:

answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # "+"

In [84]:
# решение вопроса № 26:

# создаем DataFrame с данными по рейтингу фильмов
df26 = df[['title', 'vote_aver']].copy()

# оставляем только фильмы с рейтингом 99%
df26_ = df26[df26['vote_aver'] > df26['vote_aver'].quantile(q=0.99)].\
                        sort_values(by=['vote_aver'], ascending=False)
df26_

                                              title  vote_aver
599                                 The Dark Knight        8.1
9                                        Inside Out        8.0
34                                             Room        8.0
118                                    Interstellar        8.0
125                              The Imitation Game        8.0
119                         Guardians of the Galaxy        7.9
128                                       Gone Girl        7.9
138                        The Grand Budapest Hotel        7.9
370                                       Inception        7.9
872                                     The Pianist        7.9
1081  The Lord of the Rings: The Return of the King        7.9
1183                        The Wolf of Wall Street        7.9
1191                               12 Years a Slave        7.9
1800                                        Memento        7.9

In [85]:
ans26 = df26_
print(f'В 1 процент лучших по рейтингу фильмов входят фильмы:')
print(f'- \033[1m\033[30m{ans26.iloc[0][0]}  \033[0mс рейтингом \033[1m\033[30m{ans26.iloc[0][1]}')
print(f'- \033[1m\033[30m{ans26.iloc[1][0]}       \033[0mс рейтингом \033[1m\033[30m{ans26.iloc[1][1]}')
print(f'- \033[1m\033[30m{ans26.iloc[12][0]} \033[0mс рейтингом \033[1m\033[30m{ans26.iloc[12][1]}')

В 1 процент лучших по рейтингу фильмов входят фильмы:
- The Dark Knight  с рейтингом 8.1
- Inside Out       с рейтингом 8.0
- 12 Years a Slave с рейтингом 7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [86]:
# Ответ на 27-й вопрос:

answers['27'] = '5. Daniel Radcliffe & Rupert Grint ' # "+"

In [89]:
# решение вопроса № 27:

# разделяем текст в каждой строке столбца артистов,
# находим комбинации сочетаний артистов по парам без повторений
pairs = Counter()
for i in range(0, len(df)):
    artist = df.cast[i].split('|')
    for j in list(combinations(artist, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] +=1
pairs.most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

In [90]:
ans27 = pairs.most_common(3)[0]
print(f'\033[1m\033[30m{ans27[0][0]} \033[0mвместе с \033[1m\033[30m{ans27[0][1]}\
\033[0mснимались в одних фильмах \033[1m\033[30m{ans27[1]} раз')

Daniel Radcliffe вместе с Rupert Grintснимались в одних фильмах 8 раз

ВАРИАНТ 2

# Submission

In [91]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint '}

In [92]:
# и убедиться что ни чего не пропустил)
len(answers)

27